Repository TeamNewPipe/NewPipe, pull requests merged in 2021-11, with the labels that each got.

#7304 Add support for y2u.be links
  app/build.gradle
  app/src/main/AndroidManifest.xml
Labels: youtube

#7348 "Unrevert" changes from pull request 6824
  app/src/main/res/layout/activity_player_queue_control.xml
Labels: bug, GUI

#6844 Fixed shuffle button opacity UI bug
  app/src/main/java/org/schabi/newpipe/player/Player.java
  app/src/main/java/org/schabi/newpipe/player/playqueue/PlayQueue.java
Labels: bug, GUI, player

#7353 Support PeerTube short links
  app/build.gradle
  app/src/main/AndroidManifest.xml
Labels: bug, ASAP, peertube

#7395 Gradle: Replaced deprecated `with` with `using`
  settings.gradle
Labels: codequality

#7370 added show watched items toggle preference
  app/src/main/java/org/schabi/newpipe/local/feed/FeedFragment.kt
  app/src/main/java/org/schabi/newpipe/local/feed/FeedViewModel.kt
  app/src/main/res/values/settings_keys.xml
Labels: feed

#7005 Update ExoPlayer to 2.14.2
  app/build.gradle
  app/src/main/java/org/schabi/newpipe/player/Player.java
  app/src/main/java/org/schabi/newpipe/player/helper/AudioReactor.java
  app/src/main/java/org/schabi/newpipe/player/helper/LoadController.java
  app/src/main/java/org/schabi/newpipe/player/helper/PlayerDataSource.java
  app/src/main/java/org/schabi/newpipe/player/helper/PlayerHelper.java
  app/src/main/java/org/schabi/newpipe/player/playback/CustomTrackSelector.java
  app/src/main/java/org/schabi/newpipe/player/resolver/PlaybackResolver.java
Labels: player

#5843 Remove JCenter when possible
  build.gradle
Labels: meta, ASAP

#7363 Simple playback-speed-controls improvements
  app/src/main/java/org/schabi/newpipe/player/helper/PlaybackParameterDialog.java
  app/src/main/res/layout/dialog_playback_parameter.xml
Labels: enhancement, GUI, player

#7160 Enable Mark as Watched in all the other playlist fragments.
  app/src/main/java/org/schabi/newpipe/fragments/list/BaseListFragment.java
  app/src/main/java/org/schabi/newpipe/fragments/list/playlist/PlaylistFragment.java
  app/src/main/java/org/schabi/newpipe/local/feed/FeedFragment.kt
  app/src/main/java/org/schabi/newpipe/local/history/HistoryRecordManager.java
  app/src/main/java/org/schabi/newpipe/local/history/StatisticsPlaylistFragment.java
  app/src/main/java/org/schabi/newpipe/local/playlist/LocalPlaylistFragment.java
  app/src/main/java/org/schabi/newpipe/util/StreamDialogEntry.java
Labels: enhancement, GUI

#7408 Fixed Period Transition
  app/src/main/java/org/schabi/newpipe/player/Player.java
Labels: bug, player

#7050 Rework feed new items handling
  app/src/main/java/org/schabi/newpipe/database/feed/dao/FeedDAO.kt
  app/src/main/java/org/schabi/newpipe/ktx/View.kt
  app/src/main/java/org/schabi/newpipe/local/feed/FeedDatabaseManager.kt
  app/src/main/java/org/schabi/newpipe/local/feed/FeedFragment.kt
  app/src/main/java/org/schabi/newpipe/local/feed/FeedViewModel.kt
  app/src/main/java/org/schabi/newpipe/local/feed/item/StreamItem.kt
  app/src/main/java/org/schabi/newpipe/util/DeviceUtils.java
  app/src/main/res/layout/fragment_feed.xml
  app/src/main/res/values/strings.xml
Labels: GUI, feed

#7381 Prevent automatic replay after returning from background
  app/src/main/java/org/schabi/newpipe/player/Player.java
Labels: bug, player

#7406 Use DefaultLoadcontrol
  app/src/main/java/org/schabi/newpipe/player/helper/LoadController.java
  app/src/main/java/org/schabi/newpipe/player/helper/PlayerHelper.java
Labels: enhancement, player

#7412 Some code cleanup(s)
  app/src/main/java/org/schabi/newpipe/local/feed/FeedFragment.kt
  app/src/main/java/org/schabi/newpipe/player/Player.java
  app/src/main/java/org/schabi/newpipe/player/event/PlayerGestureListener.java
  app/src/main/java/org/schabi/newpipe/settings/ContentSettingsManager.kt
  app/src/main/java/org/schabi/newpipe/util/TLSSocketFactoryCompat.java
Labels: codequality

#7142 Better player error handling
  app/src/main/java/org/schabi/newpipe/error/EnsureExceptionSerializable.java
  app/src/main/java/org/schabi/newpipe/error/ErrorActivity.java
  app/src/main/java/org/schabi/newpipe/fragments/detail/VideoDetailFragment.java
  app/src/main/java/org/schabi/newpipe/fragments/detail/VideoDetailPlayerCrasher.java
  app/src/main/java/org/schabi/newpipe/player/Player.java
  app/src/main/java/org/schabi/newpipe/player/playererror/PlayerErrorHandler.java
  app/src/main/res/layout-large-land/fragment_video_detail.xml
  app/src/main/res/layout/fragment_video_detail.xml
  app/src/main/res/values/settings_keys.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/debug_settings.xml
  app/src/main/res/xml/video_audio_settings.xml
Labels: enhancement, player

#7467 Use latest NewPipeExtractor to fix parsing of YT's dislikes
  app/build.gradle
Labels: bug, ASAP, youtube
