Repository TeamNewPipe/NewPipe, pull requests merged in 2023-02, with the labels that each got.

#9742 Revert PR #9553 "Update ExoPlayer to 2.18.2"
  app/build.gradle
  app/src/main/java/org/schabi/newpipe/player/mediasource/LoadedMediaSource.java
Labels: bug, player

#9693 Orientation is locked if there is no sensor for it
  app/src/main/java/org/schabi/newpipe/player/helper/PlayerHelper.java
Labels: GUI, player, device/software specific

#9758 Fix opening links on Android 12+
  app/src/main/java/org/schabi/newpipe/util/external_communication/ShareUtils.java
Labels: bug, ASAP, device/software specific

#9777 [Bug] Crash fix when click on empty comment
  app/src/main/java/org/schabi/newpipe/info_list/holder/CommentsMiniInfoItemHolder.java
Labels: bug, GUI

#9769 Fix progress bar scaling on thumbnail in playlists card view
  app/src/main/res/layout/list_stream_playlist_card_item.xml
Labels: bug, GUI

#9755 Fixed a bug that caused erroneous updates of the playlist thumbnails
  app/schemas/org.schabi.newpipe.database.AppDatabase/7.json
  app/src/androidTest/java/org/schabi/newpipe/database/DatabaseMigrationTest.kt
  app/src/main/java/org/schabi/newpipe/NewPipeDatabase.java
  app/src/main/java/org/schabi/newpipe/database/AppDatabase.java
  app/src/main/java/org/schabi/newpipe/database/Migrations.java
  app/src/main/java/org/schabi/newpipe/database/playlist/dao/PlaylistStreamDAO.java
  app/src/main/java/org/schabi/newpipe/database/playlist/model/PlaylistEntity.java
  app/src/main/java/org/schabi/newpipe/local/bookmark/BookmarkFragment.java
  app/src/main/java/org/schabi/newpipe/local/dialog/PlaylistAppendDialog.java
  app/src/main/java/org/schabi/newpipe/local/playlist/LocalPlaylistFragment.java
  app/src/main/java/org/schabi/newpipe/local/playlist/LocalPlaylistManager.java
Labels: bug, GUI, playlist

#8180 Make UI behavior for playback information display more consistent
  app/src/main/java/org/schabi/newpipe/fragments/detail/VideoDetailFragment.java
  app/src/main/java/org/schabi/newpipe/info_list/holder/StreamMiniInfoItemHolder.java
  app/src/main/java/org/schabi/newpipe/local/holder/LocalPlaylistStreamItemHolder.java
  app/src/main/java/org/schabi/newpipe/local/holder/LocalStatisticStreamItemHolder.java
  app/src/main/java/org/schabi/newpipe/player/Player.java
  app/src/main/java/org/schabi/newpipe/player/helper/PlayerHelper.java
  app/src/main/java/org/schabi/newpipe/util/DependentPreferenceHelper.java
  app/src/main/res/xml/history_settings.xml
Labels: GUI, history

#9728 Larger channel cards in search results
  app/sampledata/channels.json
  app/src/main/java/org/schabi/newpipe/info_list/InfoListAdapter.java
  app/src/main/java/org/schabi/newpipe/info_list/holder/ChannelCardInfoItemHolder.java
  app/src/main/java/org/schabi/newpipe/info_list/holder/ChannelMiniInfoItemHolder.java
  app/src/main/java/org/schabi/newpipe/local/subscription/SubscriptionFragment.kt
  app/src/main/java/org/schabi/newpipe/local/subscription/SubscriptionViewModel.kt
  app/src/main/res/layout/list_channel_card_item.xml
  app/src/main/res/values/dimens.xml
Labels: GUI

#9746 Add an option to Ignore hardware media button events
  app/src/main/java/org/schabi/newpipe/player/mediasession/MediaSessionPlayerUi.java
  app/src/main/res/values/settings_keys.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/video_audio_settings.xml
Labels: feature request, player

#9847 Update to ExoPlayer 2.18.3
  app/build.gradle
  app/src/main/java/org/schabi/newpipe/player/mediasource/LoadedMediaSource.java
Labels: player, codequality

#9747 Added option to remove partially watched videos from the 'Whats new' feed
  app/src/main/java/org/schabi/newpipe/database/feed/dao/FeedDAO.kt
  app/src/main/java/org/schabi/newpipe/database/stream/model/StreamStateEntity.java
  app/src/main/java/org/schabi/newpipe/local/feed/FeedDatabaseManager.kt
  app/src/main/java/org/schabi/newpipe/local/feed/FeedFragment.kt
  app/src/main/java/org/schabi/newpipe/local/feed/FeedViewModel.kt
  app/src/main/java/org/schabi/newpipe/local/history/HistoryRecordManager.java
  app/src/main/res/menu/menu_feed_fragment.xml
  app/src/main/res/values/settings_keys.xml
  app/src/main/res/values/strings.xml
Labels: feature request, GUI, feed

#9707 Remove duplicates from playlist feature
  app/src/main/java/org/schabi/newpipe/database/playlist/dao/PlaylistStreamDAO.java
  app/src/main/java/org/schabi/newpipe/local/playlist/LocalPlaylistFragment.java
  app/src/main/java/org/schabi/newpipe/local/playlist/LocalPlaylistManager.java
  app/src/main/res/menu/menu_local_playlist.xml
  app/src/main/res/values/strings.xml
Labels: feature request, playlist
