Repository TeamNewPipe/NewPipe, pull requests merged in 2023-04, with the labels that each got.

#9890 Bump ExoPlayer to 2.18.5
  app/build.gradle
Labels: player

#9812 Revert "Use WindowCompat."
  app/src/main/java/org/schabi/newpipe/fragments/detail/VideoDetailFragment.java
  app/src/main/java/org/schabi/newpipe/player/ui/MainPlayerUi.java
Labels: template ignored

#9708 Created a setting to switch the sides of volume and brightness
  app/src/main/java/org/schabi/newpipe/fragments/detail/VideoDetailFragment.java
  app/src/main/java/org/schabi/newpipe/player/gesture/MainPlayerGestureListener.kt
  app/src/main/java/org/schabi/newpipe/player/helper/PlayerHelper.java
  app/src/main/java/org/schabi/newpipe/settings/SettingMigrations.java
  app/src/main/res/values/settings_keys.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/video_audio_settings.xml
Labels: feature request, GUI, player

#10002 Add notice to README to not open feature PRs
  .github/CONTRIBUTING.md
  README.md
Labels: template ignored

#8875 Add an ExoPlayer settings page
  app/src/main/java/org/schabi/newpipe/player/Player.java
  app/src/main/java/org/schabi/newpipe/player/helper/CustomMediaCodecVideoRenderer.java
  app/src/main/java/org/schabi/newpipe/player/helper/CustomRenderersFactory.java
  app/src/main/java/org/schabi/newpipe/settings/ExoPlayerSettingsFragment.java
  app/src/main/java/org/schabi/newpipe/settings/SettingsResourceRegistry.java
  app/src/main/java/org/schabi/newpipe/util/DeviceUtils.java
  app/src/main/res/values-ar/strings.xml
  app/src/main/res/values-az/strings.xml
  app/src/main/res/values-bs/strings.xml
  app/src/main/res/values-ckb/strings.xml
  app/src/main/res/values-cs/strings.xml
  app/src/main/res/values-da/strings.xml
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-el/strings.xml
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-et/strings.xml
  app/src/main/res/values-eu/strings.xml
  app/src/main/res/values-fa/strings.xml
  app/src/main/res/values-fil/strings.xml
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-gl/strings.xml
  app/src/main/res/values-he/strings.xml
  app/src/main/res/values-in/strings.xml
  app/src/main/res/values-it/strings.xml
  app/src/main/res/values-ja/strings.xml
  app/src/main/res/values-lv/strings.xml
  app/src/main/res/values-ml/strings.xml
  app/src/main/res/values-nl-rBE/strings.xml
  app/src/main/res/values-nl/strings.xml
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-pt-rPT/strings.xml
  app/src/main/res/values-pt/strings.xml
  app/src/main/res/values-ro/strings.xml
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values-sc/strings.xml
  app/src/main/res/values-sk/strings.xml
  app/src/main/res/values-sv/strings.xml
  app/src/main/res/values-te/strings.xml
  app/src/main/res/values-tr/strings.xml
  app/src/main/res/values-uk/strings.xml
  app/src/main/res/values-vi/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/values-zh-rHK/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
  app/src/main/res/values/settings_keys.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/debug_settings.xml
  app/src/main/res/xml/exoplayer_settings.xml
  app/src/main/res/xml/video_audio_settings.xml
Labels: feature request, player

#9748 Add whitelist to only retrieve supported YouTube itags/streams
  app/src/main/java/org/schabi/newpipe/player/resolver/AudioPlaybackResolver.java
  app/src/main/java/org/schabi/newpipe/player/resolver/VideoPlaybackResolver.java
  app/src/main/java/org/schabi/newpipe/util/ListHelper.java
Labels: youtube, player
