Repository TeamNewPipe/NewPipe, pull requests merged in 2025-09, with the labels that each got.

#12254 Keep current player when clicking on timestamp
  app/src/main/java/org/schabi/newpipe/fragments/detail/VideoDetailFragment.java
  app/src/main/java/org/schabi/newpipe/player/Player.java
  app/src/main/java/org/schabi/newpipe/player/PlayerIntentType.kt
  app/src/main/java/org/schabi/newpipe/player/PlayerService.java
  app/src/main/java/org/schabi/newpipe/player/helper/PlayerHelper.java
  app/src/main/java/org/schabi/newpipe/player/notification/NotificationUtil.java
  app/src/main/java/org/schabi/newpipe/player/playqueue/PlayQueue.java
  app/src/main/java/org/schabi/newpipe/player/playqueue/PlayQueueItem.java
  app/src/main/java/org/schabi/newpipe/player/playqueue/SinglePlayQueue.java
  app/src/main/java/org/schabi/newpipe/util/NavigationHelper.java
  app/src/main/java/org/schabi/newpipe/util/text/InternalUrlsHandler.java
  app/src/main/java/org/schabi/newpipe/util/text/TextLinkifier.java
  app/src/main/java/org/schabi/newpipe/util/text/TimestampLongPressClickableSpan.java
  app/src/main/java/org/schabi/newpipe/util/text/UrlLongPressClickableSpan.java
Labels: feature request, player, size/large

#12612 player.xml: Rename fullscreen buttons & separate enter/exit
  app/src/main/java/org/schabi/newpipe/fragments/detail/VideoDetailFragment.kt
  app/src/main/java/org/schabi/newpipe/player/event/PlayerServiceEventListener.java
  app/src/main/java/org/schabi/newpipe/player/helper/PlayerHolder.kt
  app/src/main/java/org/schabi/newpipe/player/ui/MainPlayerUi.java
  app/src/main/java/org/schabi/newpipe/player/ui/PopupPlayerUi.java
  app/src/main/java/org/schabi/newpipe/player/ui/VideoPlayerUi.java
  app/src/main/res/layout/player.xml
Labels: player, codequality, size/medium

#12615 Refactor player intent logic
  app/src/main/java/org/schabi/newpipe/player/Player.java
  app/src/main/java/org/schabi/newpipe/player/PlayerIntentType.kt
  app/src/main/java/org/schabi/newpipe/player/PlayerType.java
  app/src/main/java/org/schabi/newpipe/util/NavigationHelper.java
Labels: player, codequality, size/medium

#12623 Merge dev to refactor
  app/src/main/java/org/schabi/newpipe/fragments/detail/VideoDetailFragment.kt
  app/src/main/java/org/schabi/newpipe/player/Player.java
  app/src/main/java/org/schabi/newpipe/player/PlayerIntentType.kt
  app/src/main/java/org/schabi/newpipe/player/PlayerService.kt
  app/src/main/java/org/schabi/newpipe/player/PlayerType.java
  app/src/main/java/org/schabi/newpipe/player/helper/PlayerHelper.java
  app/src/main/java/org/schabi/newpipe/player/notification/NotificationUtil.java
  app/src/main/java/org/schabi/newpipe/player/playqueue/PlayQueue.kt
  app/src/main/java/org/schabi/newpipe/player/playqueue/SinglePlayQueue.java
  app/src/main/java/org/schabi/newpipe/util/NavigationHelper.java
  app/src/main/java/org/schabi/newpipe/util/text/InternalUrlsHandler.java
  app/src/main/java/org/schabi/newpipe/util/text/TextLinkifier.java
  app/src/main/java/org/schabi/newpipe/util/text/TimestampLongPressClickableSpan.java
  app/src/main/java/org/schabi/newpipe/util/text/UrlLongPressClickableSpan.java
Labels: size/large

#12616 Update AGP to 8.13.0
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: size/small

#12605 Fix and simplify opening in browser (`openUrlInBrowser`)
  app/src/main/java/org/schabi/newpipe/util/external_communication/ShareUtils.java
Labels: bug, size/medium

#12606 Fix ghost notifications
  app/src/main/java/org/schabi/newpipe/fragments/detail/VideoDetailFragment.java
  app/src/main/java/org/schabi/newpipe/player/PlayerService.java
  app/src/main/java/org/schabi/newpipe/player/helper/PlayerHolder.java
  app/src/main/java/org/schabi/newpipe/player/notification/NotificationUtil.java
Labels: bug, player, player notification, size/medium
